/* aumenta fonte do header e das linhas dessa tabela */
.table-lg th.mat-mdc-header-cell {
  font-size: 14px;
  font-weight: 600;
}

.table-lg td.mat-mdc-cell {
  font-size: 14px;
}

.table-lg .mat-mdc-row {
  height: 52px;
}

.tooltip-grande .mat-mdc-tooltip {
  font-size: 2rem;
}

:host ::ng-deep .mat-mdc-paginator .mat-mdc-select-value-text {
  font-size: 1.3rem;
}

:host ::ng-deep .mat-mdc-paginator-page-size-label {
  font-size: 1.3rem;
}

:host ::ng-deep .mat-mdc-table .mat-mdc-row:nth-child(even) {
  background: rgba(190, 193, 197, 0.06);
}

:host ::ng-deep .mat-mdc-table .mat-mdc-row:nth-child(odd) {
  background-color: white;
}

::ng-deep .mat-mdc-select-panel .mat-mdc-option {
  font-size: 1.4rem;
}

:host ::ng-deep .mat-mdc-paginator-range-label {
  font-size: 1.3rem;
}

mat-select,
mat-label {
  font-size: 1.4rem;
}
