<mat-sidenav-container class="shell-container">
  <mat-sidenav class="shell-sidenav" [mode]="'side'" [opened]="opened">
    <div class="sidebar-frame">
      <app-sidebar class="h-full w-full"></app-sidebar>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="shell-content">
    <mat-toolbar class="shell-toolbar">
      <button mat-icon-button (click)="toggle()" aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="text-3xl">Personal Finance</span>

      <span class="flex-1"></span>

      <!-- Ação rápida (depois ligamos em Transactions/Create) -->

      <button
        mat-flat-button
        color="primary"
        class="!rounded-lg !py-3 !px-6"
        [routerLink]="['/transactions/new']"
      >
        <span class="flex items-center gap-3">
          <mat-icon class="!text-[2rem] !w-[2rem] !h-[2rem]">add</mat-icon>
          <span class="text-2xl font-medium leading-none">Novo lançamento</span>
        </span>
      </button>
    </mat-toolbar>

    <main class="p-6">
      <div class="max-w-6xl mx-auto">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
