@use "@angular/material" as mat;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

////////////////////////////////
//////// ***Temas***  /////////
//////////////////////////////

// Paletas (M2)
$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-blue-palette);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

// Tema LIGHT (M2)
$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

// Tema DARK (M2)
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

///////////////////////////////
//////// ***Resets***  ////////
//////////////////////////////

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; //1rem = 10px;

  @include mat.tooltip-overrides(
    (
      supporting-text-size: 1.1rem,
    )
  );

  // Gera tudo (inclui density/typography/etc)
  @include mat.all-component-themes($light-theme);

  mat-toolbar.mat-toolbar {
    --mat-toolbar-container-background-color: #fff;
    --mat-toolbar-container-text-color: #000;
  }

  & {
    --pf-bg: #f8fafc; /* fundo geral */
    --pf-surface: #ffffff; /* cards/containers */
    --pf-surface-2: #f1f5f9; /* superfície alternativa */
    --pf-border: #e2e8f0;
    --pf-text: #0f172a;
    --pf-muted: #64748b;
    --pf-data-label: #080808;
  }

  .mat-mdc-table .mat-mdc-row:nth-child(odd) {
    background-color: var(--pf-surface) !important;
  }

  .mat-mdc-table .mat-mdc-row:nth-child(even) {
    background: rgba(136, 140, 145, 0.06) !important;
  }
}

body {
  margin: 0;
  font-size: 1.6rem; //16px
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}


html.dark {
  // Gera apenas CORES (evita duplicar density)
  @include mat.all-component-colors($dark-theme);

  mat-toolbar.mat-toolbar {
    --mat-toolbar-container-background-color: #000;
    --mat-toolbar-container-text-color: #fff;
  }

  .mat-mdc-table {
    background: var(--pf-surface) !important;
  }

  .mat-mdc-header-row,
  .mat-mdc-row {
    color: var(--pf-text) !important;
  }

  .mat-mdc-header-cell {
    color: var(--pf-muted) !important;
  }

  .mat-mdc-row:hover {
    background: rgba(148, 163, 184, 0.08) !important;
  }

  /* ✅ variáveis CSS precisam ser propriedades */
  & {
    --pf-bg: #0b1220;
    --pf-surface: #111827;
    --pf-surface-2: #0f172a;
    --pf-border: rgba(148, 163, 184, 0.2);
    --pf-text: #e5e7eb;
    --pf-muted: #94a3b8;
    --pf-data-label: #f8f1f1;
  }

  /* cor do texto do option selecionado */
  .mat-mdc-option.mdc-list-item--selected .mdc-list-item__primary-text {
    color: var(--pf-text) !important; // ou uma cor sua
  }

  /* cor do check (ícone) do selecionado */
  .mat-mdc-option.mdc-list-item--selected .mat-pseudo-checkbox-minimal::after {
    color: var(--pf-muted) !important; // ou #fff / etc
  }
}

.pf-surface {
  background: var(--pf-surface) !important;
  color: var(--pf-text) !important;
  border-color: var(--pf-border) !important;
}

.pf-muted {
  color: var(--pf-muted) !important;
}

.pf-text {
  color: var(--pf-text) !important;
}

// Ajuste de padding para não cortar itens ao aumentar a fonte do select
.mat-mdc-select-panel .mdc-list-item__primary-text {
  padding: 2rem 0 !important;
}

.pf-snackbar--success {
  --mdc-snackbar-container-color: #198b56; /* fundo */
  --mdc-snackbar-supporting-text-color: #ffffff; /* texto */
  --mat-snack-bar-button-color: #ffffff; /* botão */
}

.pf-snackbar--error {
  --mdc-snackbar-container-color: #df1e2f;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;
}

.mat-mdc-snack-bar-container.pf-snackbar .mdc-snackbar__label {
  font-size: 1.32rem !important;
}
