@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Problema de conflito de bordas entre Tailwind e MDC
@layer base {
  *, ::before, ::after {
    border-style: none;
  }
}

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

// Ajuste de padding para não cortar itens ao aumentar a fonte do select
.mat-mdc-select-panel .mdc-list-item__primary-text{
  padding: 2rem 0 !important;
}